$container-max-widths: (
  sm: 440px,
  md: 720px,
  lg: 960px,
  xl: 1264px,
);
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;

@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/_fonts.scss";

.title-sections {
  color: #aeaeae;
  margin: 100px 0 80px;
}

h4 {
  font-size: 25px;
}