$container-max-widths: (
  sm: 440px,
  md: 720px,
  lg: 960px,
  xl: 1240px,
);
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;

@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/_fonts.scss";

h1 {
  font-size: 50px;
  font-family: "NotoSans-Bold";
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

p {
  font-family: "NotoSans-Regular";
  font-size: 15px;
  line-height: 20px;
}

header {
  padding: 19px 0 0;
}

.header {
  height: 686px;
  width: 100%;
  background-image: url("./assets/img/mainPhoto.svg");
  background-size: cover;
  background-position: center;
}

.title {
  margin: 118px 0 32px;

  @media (max-width: 767.98px) {
    margin: 32px 0;
  }
}

.btn-generalStyles {
  border-radius: 15px;
}

.btn-headerInfo {
  background-color: transparent;
  margin: 72px 12px 0;
  padding: 13px 90px 16px;
  width: none;

  &:hover {
    color: black;
  }

  @media (max-width: 767.98px) {
    margin: 32px 12px 10px;
    padding: 13px 30px 16px;
    @media (min-width: 320.98px) {
      width: 50%;
    }
  }
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.navLink {
  color: white !important;
}

.title-sections {
  color: #aeaeae;
  margin: 100px 0 80px;
}

.btn-selectForm {
  background: #df4e3c;
  width: 100%;
  height: 48px;

  &:hover {
    color: #df4e3c;
    background: transparent;
  }
}

.form-select-col,
.container-formSelect {
  padding: 0;
}

.formSelect {
  border-radius: 15px;
  height: 48px;
}

.formSelect-row {
  margin: 0 0 25px;
  gap: 20px;
  @media (max-width: 979.98px) {
    flex-direction: column;
    gap: 15px;
  }
}

.formCheck {
  // padding-left: 2.5em;
  margin: 0 0 25px;
}

.sort {
  display: flex;

  &__label {
    img {
      margin: 0 8px 0 16px;
    }
  }

  &__formSelect {
    display: flex;
    width: auto;
    border: none;
    background-image: none;
    padding: 0;
    align-items: flex-start;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: none;

  &__header {
    position: relative;
    max-width: 295px;
  }

  &__label {
    &_new {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 24px;
      width: 67px;
      background: black;
      color: white;
      border-radius: 0 15px 15px 0;
      font-size: 12px;
    }

    &_sold {
      position: absolute;
      font-family: "Poppins-Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 75px;
      color: white;
      width: 100%;
      top: 50px;
      text-align: center;
    }
  }

  &__img {
    width: 295px;
  }

  &__title {
    font-size: 17px;
    margin: 20px 0 16px;
  }

  &__subtitle {
    color: #8d8d8d;
  }

  &__params {
    color: #8d8d8d;
    font-size: 14px;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
    margin: 26px 0 35px;
  }
}

.subscription {
  padding: 40px 100px;
  margin: 120px auto 0;
  background: black;
  color: white;

  &__input {
    background: black;
    color: white;
    margin: 0 20px 0;
    border-radius: 15px;
    padding: 15px 22px 19px 16px;
  }

  &__btn {
    border-radius: 15px;
    padding: 16px 40px;
    background: white;
    color: black;
  }
}

h4 {
  font-size: 25px;
}
