$container-max-widths: (
  sm: 440px,
  md: 720px,
  lg: 960px,
  xl: 1240px,
);

@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/_fonts.scss";

h1 {
  font-size: 50px;
  font-family: "NotoSans-Bold" ;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

p {
  font-family: "NotoSans-Regular";
  font-size: 15px;
  line-height: 20px;
}

header {
  padding: 19px 0 0;
}

.header {
  height: 686px;
  width: 100%;
  background-image: url("./assets/img/mainPhoto.svg");
  background-size: cover;
  background-position: center;
}

.title {
  margin: 118px 0 32px;

  @media(max-width: 767.98px) {
    margin: 32px 0;
  }
}

.btn-headerInfo {
  border-radius: 15px;
  background-color: transparent;
  margin: 72px 12px 0;
  padding: 13px 90px 16px;
  width: none;

  &:hover {
    color: black;
  }

  @media(max-width: 767.98px) {
    margin: 32px 12px 10px;
    padding: 13px 30px 16px;
  }

  @media(min-width: 320.98px) {
    width: 50%;
  }
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.navLink {
  color: white !important;
}