@font-face {
  font-family: "NotoSans-Bold";
  src: url("../fonts/NotoSans-Bold.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "NotoSans-Light";
  src: url("../fonts/NotoSans-Light.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "NotoSans-Medium";
  src: url("../fonts/NotoSans-Medium.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "NotoSans-Regular";
  src: url("../fonts/NotoSans-Regular.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "NotoSans-SemiBold";
  src: url("../fonts/NotoSans-SemiBold.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf") format('truetype');
  font-display: swap;
}
